<!-- 
  - packr (https://ob-dev.de)
  -
  - @theme_name The Example Theme
  - @theme_id example-theme
  - @author packr (http://twitter.com/packr_official)
  - @version 1.0
  -->
  
<div data-lang="en">
  <!-- Description in English -->
</div>

<div data-lang="de">
  <!-- Beschreibung in Deutsch -->
</div>

<!-- 
  - data-lang="en" is obligatory, any other language can be omitted
  - supported languages: English [en], German [de]
  -
  - You can use Twitter Bootstrap (http://getbootstrap.com) elements here!
  -->
